.calculator-container {
    background-color: #1d1d27;
    color: #e5e5e5;
    padding: 30px;
    border-radius: 10px;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  }
  
  h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
  }
  
  .option-selector {
    margin-bottom: 20px;
  }
  
  .option-selector label {
    font-size: 1.2rem;
    margin-right: 20px;
  }
  
  .page-slider {
    margin-bottom: 20px;
  }
  
  .page-slider input[type="range"] {
    width: 100%;
  }
  
  .price-display {
    margin-top: 20px;
  }
  
  .price-display h3 {
    font-size: 1.6rem;
    color: #00ff99;
  }
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .modal-layout-cal{
    position: relative;
    padding: 20px 10px;
    border-radius: 8px;
    width: 90%;
    max-width: 450px;
  }
  .modal-content-cal {
    padding: 10px 10px;
    border-radius: 8px;
    width: 100%;
    
  }

  .close{
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
  }

  .action-controls {
    position: relative;
    display: flex;
    height: 50px;
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
    border: 1px solid #939292;
    border-radius: 15px;
  }
  
  .action-controls .action-button {
    height: 100%;
    width: 50%;
    color: #000;
    font-size: 18px;
    font-weight: 500;
    line-height: 48px;
    cursor: pointer;
    z-index: 1;
    transition: all 0.6s ease;
    background: #fff;
  }
  
  .action-controls .action-button.active1 {
    color: #fff;
    background: #777
  }
  .action-controls .action-button.active2 {
    color: #fff;
    background-image: url('../../assets/images/coloredBg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
  }
  
  .slider-tab {
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    z-index: 0;
    border-radius: 15px;
    background: -webkit-linear-gradient(left, #003366, #004080, #0059b3, #0073e6);
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
    