/* Popup overlay with blur effect */
.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  
  .popup-overlay.open {
    opacity: 1;
    pointer-events: auto;
    z-index: 1;
  }
  .close{
    position: absolute;
    right: 0;
    top: 0;
    /* background-color: #000; */
  }
  
  /* Popup content */
  .popup-content {
    
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding: 20px 12px;
    max-width: 300px;
    max-height: 350px;
    height: 90%;
    width: 90%;
    transform: translateY(100%);
    transition: transform 0.3s ease;
    position: relative;
  }
  .popup-inner{
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: #dde2ed;
    background-color: rgb(44, 55, 51);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100%;
    padding: 10px;
  }
  
  .popup-overlay.open .popup-content {
    transform: translateY(0);
  }
  
  /* Animation container (example) */
  .animation-container {
    width: 70%;
    height: 70%;
    max-width: 200px;
    max-height: 200px;
    /* background-color: aquamarine; */
  }
  .popup-inner p{
    font-size: 14px;
  }
  