/* ActionSection.css */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.action-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  width: 100%;
  overflow-x: hidden;
  /* place-items: center; */
  /* background: #fff; */
}

.action-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 700px;
  background: transparent;
  padding: 0 30px 10px 30px;
  /* border-radius: 15px; */
  /* box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1); */
  text-align: center;
}

.action-controls {
  position: relative;
  display: flex;
  height: 50px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
  /* border: 1px solid #939292; */
  border-radius: 15px;
}

.action-controls .action-button {
  height: 100%;
  width: 50%;
  color: #000;
  font-size: 18px;
  font-weight: 500;
  line-height: 48px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.6s ease;
  background: #fff;
  text-align: center;
}

.action-controls .action-button.active {
  color: #fff;
  background: -webkit-linear-gradient(left, #003366, #004080, #0059b3, #0073e6);
}

.slider-tab {
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 15px;
  background: -webkit-linear-gradient(left, #003366, #004080, #0059b3, #0073e6);
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

input[type="radio"] {
  display: none;
}

#upload:checked ~ .slider-tab {
  left: 50%;
}

#upload:checked ~ label.action-button {
  color: #fff;
  cursor: default;
  user-select: none;
}

#upload:checked ~ label.action-button:nth-of-type(1) {
  color: #000;
}

.action-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #666;
}

.action-btn {
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 500;
  color: #fff;
  background: -webkit-linear-gradient(left, #003366, #004080, #0059b3, #0073e6);
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background 0.4s ease;
}

.action-btn:hover {
  background: -webkit-linear-gradient(right, #003366, #004080, #0059b3, #0073e6);
}
